@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
   font-family: "Roboto", sans-serif;

}
header{
  background-color:#d5cdc200;

  border-bottom: .51px solid rgba(0, 0, 0, 0.215);
position: fixed;
z-index: 1;

}
.header-main{
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100vw;
}
.left_header{
  display: flex;
  align-items: center;
gap: 50px;

}
.logo{
  display: flex;
  align-items: center;
}
.header_links{
  display: flex;
  align-items: center;
  gap: 20px;
}
.link_box a{
  display: inline-block;
  position: relative;

  text-decoration: none;
 color: #1D1D1D;
 position: relative;


}

.header-slider {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #FFFDF5;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  z-index:-2; /* visible rakho */
  opacity: 0;
  overflow: hidden;
}

/* Active state */
.header-slider.active-header1 {
  height: 200px;
  opacity: 1;
}

.link_box a::after{
  content: "";
  height: 0px;
   width: 100%;
  position: absolute;
  bottom: -40px;
  left: 0px;
  background-color:black ;
transition: all .2s ease;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
.link_box a:hover::after{

height: 4px;

}

.right_header_links{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.right_header_links i{
font-size: 22px;
color: #1D1D1D;
}

.right_links_box a{
text-decoration: none;
color: #707767;
transition: .3s ease;
}

.cart {
  border:1px solid black;
  width: 35px;
  height: 30px;
  display: flex;

  justify-content: center;
  overflow: hidden;
  border-radius: 5px;

}
.cart i{
  font-size: 22px;
  padding: 3px;
  color: black;
}
.cart2 {
  background-color: #1D1D1D;
  width: 35px;
 height: 30px;

}
.cart2 i {
  color: white;
}
.cart1{
 transition: 1s ease;
}
.cart:hover{

   .cart1{
    margin-top: -30px;
  }
}

.hero{
  position: relative;

}
.profile{
   border:1px solid black;
  width: 35px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lower-hero img{
width: 100%;
height: 100vh;
object-fit: cover;
}

.upper-hero{
position: absolute;
}
.header-heading{
  margin-top: 130px;
  padding-left: 100px;
font-weight: 200;
font-size: 4rem;
}

.header-card{
  padding-left: 100px;

}
.card-main{
  width: 250px;
  height: 270px;
  background-color: rgba(255, 255, 255, 0.397);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.upper-slider{
width: 100%;
text-align: center;

overflow: hidden;
height: 40px;
}
.upper-slider h1{
  font-weight: 300;
transition: .3s ease;
}
.card-main:hover .upper-slider h1{
  margin-top: -50px;
}

.upper-main-slider{
  position: absolute;
width: 100%;
height: 100%;
border-radius: 20px;
background-color: #FFFDF5;
opacity: 0;
display: flex;
flex-direction: column;

}
.upper-slider1{
  padding: 20px 10px;


  font-size: 14px;
  display: flex;
  flex-direction: column;
gap: 5px;

}
.slider-box{
 overflow: hidden;
 width: 100%;
 height: 20px;
}
.slider-box p{
  transition: .5s ease;
   margin-top: 20px;
   color: rgb(36, 36, 36)
}
.card-main:hover {
  .slider-box p{  margin-top: 0px;
  }
  .upper-main-slider{
    opacity: 1;
  }
  .line-slider{
    width: 100%;
  }
  .long-slider span{
    margin-left: 0px;
  }
}
.lower-slider{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line-slider{
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 0px;
transition: .5s ease;
}
.long-slider{

  width: 20px;
  overflow: hidden;
}

.long-slider span{
  margin-left: -20px;
  transition: .5s ease;
}

.arr-slider{
  display: flex;
}
.header-card{
  display: flex;
  gap: 20px;

  padding-top: 10px;
}
.text-slider {
  width: 100%;
  height: 150vh;
  background-image: url("https://yucca.co.za/wp-content/uploads/2025/05/1c9fd89a470793175cfc7f14a7a6e6dc.webp");
  background-position: center;
  background-size: contain;
  background-color: #D4CCC1;
  background-repeat: no-repeat;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 4;
}
.slider-t{
  overflow: hidden;
  width: max-content;
  margin-top: 10px;
  white-space: nowrap;
}
.right{
transition: all .3s linear  ;

}
.sl span{
  font-size: 50px;
  font-weight:300 ;

}

.right{
animation:rightSlider 25s linear infinite ;
}
.left{
animation:leftSlider 25s linear infinite ;
}

@keyframes rightSlider {
  0%{
transform: translateX(-3000px);
  }
  100%{
    transform:translateX(0px) ;
  }
}

@keyframes leftSlider {
  0%{
transform: translateX(0px);
  }
  100%{
    transform:translateX(-3000px) ;
  }
}
.lower-product-section{
margin-top:500px;
text-align: center;
width:100%


}
.lower-product-section p{
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 2%;
}
.btn{
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border-style: none;
}

.Change-Images-section{
width: 100%;
height: 100vh;
position:relative;
margin-top: -200px;
}
.img-change-box{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
gap: 30px;
position: absolute;
z-index: 3;
}
.img-box{
width: 300px;
height: 300px;
background-color: rgba(115, 51, 51, 0.518);
backdrop-filter: blur(20px);
border-radius: 20px;
cursor: pointer;
}
.img-images-section{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img{
  position: absolute;
  inset: 0px;
width: 100%;
opacity: 0;
transition: 1s ease ;
left: 0px;
top: 0px;
height:100% ;
object-fit: cover;

}
.img.active{
  opacity: 1;
  transform: scale(1.1);
}
.Change-Images-section:has(.img-box1:hover) .img1{
opacity: 1;
}
.Change-Images-section:has(.img-box2:hover) .img2{
opacity: 1;
}
.Change-Images-section:has(.img-box3:hover) .img3{
opacity: 1;
}

.img-box.active-box {
  transform: scale(1.12);
  background: rgba(255,255,255,0.25);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}
.page-4{
width: 100%;
height: 100vh;
/* display: flex; */
align-items: center;
justify-content: center;
background-color: rgb(243, 252, 252);
}
.sub-page{
   display:flex;
    justify-content:space-between;
    padding:20px 10px;
font-size: x-large;
 border-bottom: .51px solid rgba(0, 0, 0, 0.215);
}
 .leftsubpage p{
  font-size: 110%;
  max-width:250px;
    line-height:1.6;
}
.leftsubpage1{
  font-size:48px;
    font-weight:400;
}
.rightsubpage{
  width: 40%;
  line-height:1.4;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftsubpage{
  width: 40%;
}
.abt{
 margin-top: 20px;
 background-color: black;
 border-radius: 5px;
 width: 80px;
 align-items: center;
}

.abt p{
  color: white;
  font-size: 16px;
  padding: 5px;
}
.page5{
  /* margin-top:0%; */
  width: 100%;
  min-height: 90vh;
  background-color: rgb(243, 252, 252);
  padding:50px 80px;
 
  
}
.upper{
  width: 100%;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom:100px;

}
.upper h2{
  font-size:60px;
  font-weight:400;
}
.upper button{
  padding : 8px 18px;
  border:1px solid black;
  background:white;
  cursor:pointer;
}
.lower{
  width:100%;
  display:flex;
  gap:25px;
 
}
.box{
 width: 300px;
 height:420px;
 overflow:hidden;
}
.box img{
  width:100%;
  height:360px;
  object-fit: cover;
  border-radius:8px;
  transtition:transform 0.4s ease;
}
.box:hover img{
  transform:scale(1.15);
}
.box p{
  margin-top:10px;
  font-size:14px;
  line-height:1.4;
}
.page6{
  width: 100%;
height: 80vh;
  background:
  linear-gradient(rgba(5,40,25,0.9), rgba(5,40,25,0.9)),
  url("https://images.unsplash.com/photo-1581093458791-9f3c3900df4b");

  background-size:cover;
  background-position:right;
  background-repeat:no-repeat;
  gap:10px;

}
.box1{
  height:20%;
  width:100%;
  margin-top: 4%;
  padding-top:3%;
}
.box1 h2{
  padding-left:80px;
  font-size:30px;
  font-weight:10;
  color:white;
}
.box2{
  display: flex;
  align-items:center;
  justify-content:space-between;
  height: 50%;
  width:100%;
}
.box2 p{
  padding-left:80px;
  font-size: 60px;
  font-weight:170;
  color:white;
}
.sub1{
  width:60%;
}
.sub2 {
  width:40%;
  display:flex;
  justify-content: flex-end;
}
.sub2 img{
  width:420px;
  height:auto;
}
.box3{
  margin-top: 2%;
  height:30%;
  width:100%;
  display:flex;
  align-items:center;
  overflow:hidden;
  border-top:1px solid rgba(255,255,255,0.3);
  border-bottom:1px solid rgba(255,255,255,0.3);
}

.box3 p{
  font-size:30px;
  font-weight:200;
  color:white;
  margin-right:80px;
  white-space:nowrap;
  animation: scrollText 20s linear infinite;
}
@keyframes scrollText{
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(-100%);
  }
}
.page7{
  min-height:80vh;
  width:100%;
  background-color: rgb(217, 223, 204);
  padding:80px;
  color:rgb(37, 32, 32);
}

.top{
  display:flex;
  justify-content:space-between;
  margin-bottom:60px;
}

.top h1{
  font-size:45px;
}

.top p{
  width:40%;
  line-height:1.6;
}

.standards{
  width:100%;
}

.row{
  display:flex;
  justify-content:space-between;
  padding:20px 0;
  border-bottom:1px solid rgba(65, 57, 57, 0.3);
  font-size:32px;
}

.page8{
  min-height:40vh;
  width:100%;
  background-color:rgb(219,216,199);
  padding:40px 80px;
  color:rgb(37,32,32);
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.col1{
  width:50%;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.col2{
  width:50%;
}

.button{
  width:100px;
  padding:9px 15px;
  margin-top:30px;
  background-color:#1D1D1D;
  color:#FFFDF5;
  border-radius:6px;
  text-align:center;
}
.button:hover{
  background-color: #413f3f;
    color:#FFFDF5;
}

.flat{
  padding:20px 0;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-bottom:1px solid rgba(65,57,57,0.3);
   transtition:transform 0.4s ease;
}

.flat:hover{
  transform:scale(1.04);
}


.page9{
    width:100%;
    min-height:100vh;
    background:#d8d4c3;
    padding:60px 80px;
    box-sizing:border-box;
}
.head{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:60px;
}

.head h1{
    font-size:60px;
    font-weight:500;
    color:#1f2f24;
}

.head button{
    width:60px;
    height:60px;
    border-radius:10px;
    border:1px solid #1f2f24;
    background:transparent;
    font-size:22px;
    cursor:pointer;
    color: #1D1D1D;
}


 .mid{
  display:flex;
  gap:25px;
  padding:40px;
}

.midbox{
  width:290px;
  height:310px;
  border-radius:20px;
  overflow:hidden;
  position:relative;
  background:#e8e8e8;
  cursor:pointer;
  border:1px solid #1f2f24;
}

.midbox img{
  width:100%;
  height:100%;
  object-fit:cover;

  opacity:0;
  transform:scale(1.2);
  transition:all 0.6s ease;
}.midbox1{
  width:290px;
  height:310px;
  border-radius:20px;
  overflow:hidden;
  position:relative;
  background:#e8e8e8;
  cursor:pointer;
 
}

/* Hover Effect */

.midbox:hover img{
  opacity:1;
  transform:scale(1);
 
.logo{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
}
.midbox1 img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.footer{
    width:100%;
    border:1px solid #1f2f24;
    border-radius:10px;
    padding:15px 20px;
    position:relative;
    bottom: -60px;
}
.foot1{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footleft{
    display:flex;
    align-items:center;
    gap:30px;
}

.footleft h2{
    font-size:20px;
    font-weight:400;
    color:#1f2f24;
}

.footleft span{
    border:none;
    background:transparent;
    font-size:80px 90px;
    cursor:pointer;
}
.footright ul{
    display:flex;
    gap:30px;
    list-style:none;
}

.footright a{
    text-decoration:none;
    color:#1f2f24;
    font-size:17px;
}
.foot2{
    position:absolute;
    right:-60px;
    bottom:-7px;
}

.whats{
    width:55px;
    height:55px;
    background:#1f2f24;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:45%;
    font-size:35px;
    cursor:pointer;
}


